div{
    width: 630px;
    margin:auto;
    background-color:#9d48d6;
    padding:10px;
    border-width:2px;
    border-color: black;
    border-style:solid;
    border-radius: 15px;
    box-shadow:10px 10px 10px ;
}

.datosper{width: 175px;
    color:rgb(59, 56, 56);
    background-color: #7fda82;
    border-radius: 8px;
}

#tabla td{
    color:white; 
}

.experienciaprof{
    width: 190px;
    color:rgb(59, 56, 56);
    background-color: #7fda82;
    border-radius: 8px;
}

.titulosacademicos{
    width: 180px;
    color:rgb(59, 56, 56);
    background-color: #7fda82;
    border-radius: 8px;
}

.linea{
    width: 470px;
    float: left;
    color:black;
}

img{
    border-radius:25px;
    width: 140px;
    height: 140px;
    float:right
}

.lista li{
    color:white; 
}

h1{
    color:rgb(0, 255, 136);
    text-align: center;
}
