#cuerpo{
    width: 1000px;
    height: 500px;
    margin:auto;
    background-color:#d2a0f3;
    padding:10px;
    border-width:2px;
    border-color: grey;
    border-style:solid;
    border-radius: 15px;
    box-shadow:10px 10px 10px ;
}
h1{
    text-align: center;
}
.texto{
    float: left;
    width: 650px;
}
.imagenComit{
    
    background-position: center center;
    background-repeat: no-repeat;
    
}
img{
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 10px;
}
